{% import 'admin/layout.html' as layout with context -%}
{% import 'admin/static.html' as admin_static with context %}
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% if admin_view.category %}{{ admin_view.category }} - {% endif %}{{ admin_view.name }} -
    {{ admin_view.admin.name }}{% endblock %}</title>
  {% block head_meta %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
  {% endblock %}
  {% block head_css %}

    <!-- basic styles -->
    <link href="{{ assets('bootstrap/css/bootstrap.min.css') }}" rel="stylesheet"/>
    <link rel="stylesheet" href="{{ assets('font-awesome/css/font-awesome.min.css') }}"/>
    <!--[if IE 7]>
		  <link rel="stylesheet" href="{{ assets('font-awesome/css/font-awesome-ie7.min.css') }}" />
		<![endif]-->
    <!-- ace styles -->
    <link rel="stylesheet" href="{{ assets('ace/css/ace.min.css') }}"/>
    <link rel="stylesheet" href="{{ assets('ace/css/ace-rtl.min.css') }}"/>
    <link rel="stylesheet" href="{{ assets('ace/css/ace-skins.min.css') }}"/>
    <!--[if lte IE 8]>
		  <link rel="stylesheet" href="{{ assets('ace/css/ace-ie.min.css') }}" />
		<![endif]-->
    <!-- inline styles related to this page -->
    <!-- ace settings handler -->
    <script src="{{ assets('ace/js/ace-extra.min.js') }}"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
		<script src="{{ assets('html5shiv.js') }}"></script>
		<script src="{{ assets('respond.min.js') }}"></script>
		<![endif]-->

  {% endblock %}
  {% block head %}
  {% endblock %}
  {% block head_tail %}
  {% endblock %}
</head>
<body>
{% block page_body %}
  <div class="navbar navbar-default" id="navbar">
    <script type="text/javascript">
      try {
        ace.settings.check('navbar', 'fixed')
      } catch (e) {
      }
    </script>

    <div class="navbar-container" id="navbar-container">
      <div class="navbar-header pull-left">
        <a href="#" class="navbar-brand">
          <small>
            {{ admin_view.admin.name }}
          </small>
        </a><!-- /.brand -->
        {% block brand %}
          <span class="brand"></span>
        {% endblock %}
      </div>
      <!-- /.navbar-header -->


      {% block access_control %}
        <div class="navbar-header pull-right" role="navigation">
          <ul class="nav ace-nav">


            <li class="light-blue">
              <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                <img class="nav-user-photo" src="{{ current_user.email | gravatar(size=32) }}" alt=""/>
								<span class="user-info">
									<small>欢迎光临,</small>
									 {{ current_user.username }}
								</span>

                <i class="icon-caret-down"></i>
              </a>

              <ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                <li>

                  <a href="{{ url_for_security('change_password') }}"><i class="icon-cog"></i>{{ _("Change Password") }}
                  </a>
                </li>


                <li class="divider"></li>

                <li>
                  <a href="{{ url_for_security('logout') }}"><i class="icon-off"></i>{{ _("Logout") }}</a>

                </li>
              </ul>
            </li>
          </ul>
          <!-- /.ace-nav -->
        </div><!-- /.navbar-header -->
      {% endblock %}
    </div>
    <!-- /.container -->
  </div>
  <div class="main-container" id="main-container">
    <script type="text/javascript">
      try {
        ace.settings.check('main-container', 'fixed')
      } catch (e) {
      }
    </script>

    <div class="main-container-inner">
      <a class="menu-toggler" id="menu-toggler" href="#">
        <span class="menu-text"></span>
      </a>


      <div class="sidebar" id="sidebar">
        <script type="text/javascript">
          try {
            ace.settings.check('sidebar', 'fixed')
          } catch (e) {
          }
        </script>


        <ul class="nav nav-list">
          {{ layout.menu() }}
        </ul>
        <!-- /.nav-list -->
        {% block main_menu %}    {% endblock %}
        {% block menu_links %}
          <ul class="nav pull-right"> {{ layout.menu_links() }} </ul>
        {% endblock %}
        <div class="sidebar-collapse" id="sidebar-collapse">
          <i class="icon-double-angle-left" data-icon1="icon-double-angle-left"
             data-icon2="icon-double-angle-right"></i>
        </div>

        <script type="text/javascript">
          try {
            ace.settings.check('sidebar', 'collapsed')
          } catch (e) {
          }
        </script>
      </div>


      <div class="main-content">
        <div class="breadcrumbs" id="breadcrumbs">
          <script type="text/javascript">
            try {
              ace.settings.check('breadcrumbs', 'fixed')
            } catch (e) {
            }
          </script>
          <ul class="breadcrumb">
            <li>
              <i class="icon-home home-icon"></i>
              <a href="#">首页</a>
            </li>
            <li class="active">控制台</li>
            {% block breadcrums %} {% endblock %} <!-- .breadcrumb -->
          </ul>
          <!-- .breadcrumb -->

        </div>

        <div class="page-content">
          {% block messages %}
            {{ layout.messages() }}
          {% endblock %}
          {% set render_ctx = h.resolve_ctx() %}
          <div class="row">
            <div class="col-xs-12">
              {% block body %}{% endblock %}
            </div>
          </div>
        </div>
        <!-- /.page-content -->
      </div>
      <!-- /.main-content -->

    </div>
    <!-- /.main-container-inner -->

    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
      <i class="icon-double-angle-up icon-only bigger-110"></i>
    </a>
  </div><!-- /.main-container -->





{% endblock %}

{% block tail_js %}
  <!-- basic scripts -->

  <!--[if !IE]> -->

  <script src="{{ assets('jquery/jquery-2.0.3.min.js') }}"></script>

  <!-- <![endif]-->

  <!--[if IE]>
        <script src="{{ assets('jquery/jquery-1.10.2.min.js') }}"></script>
        <![endif]-->

  <!--[if !IE]> -->

  <script type="text/javascript">
    window.jQuery || document.write("<script src='{{ assets('jquery/jquery-2.0.3.min.js') }}'>" + "<" + "script>");
  </script>

  <!-- <![endif]-->

  <!--[if IE]>
        <script type="text/javascript">
         window.jQuery || document.write("<script src='{{ assets('jquery/jquery-1.10.2.min.js') }}'>"+"<"+"script>");
        </script>
        <![endif]-->

  <script src="{{ assets('bootstrap/js/bootstrap.min.js') }}"></script>
  <script src="{{ assets('jquery/jquery-ui-1.10.3.custom.min.js') }}"></script>
  <script src="{{ assets('jquery/jquery.slimscroll.min.js') }}"></script>
  <script src="{{ assets('select2/select2.min.js') }}"></script>


  <!-- ace scripts -->


  <script src="{{ assets('ace/js/ace.min.js') }}"></script>

  <!-- inline scripts related to this page -->

  <script type="text/javascript">
    jQuery(function ($) {


      $('.dialogs,.comments').slimScroll({
        height: '300px'
      });


    })
  </script>
{% endblock %}

{% block tail %}
{% endblock %}
</body>
</html>