{% extends "layout.html" %}

{% from "macros/_forms.html" import render_errors %}
{% from "article/_comment.html" import render_comment with context %}

{%- block title -%}
{{ entry.title }} - {{ entry.category.category_name }}
{%- endblock -%}
{% block site_description %}{{ entry.summary|endtags|code_highlight|safe }}{%- endblock -%}
{% block site_keywords %}
{%- for p in current_category.path -%}
{{ p.category_name }}{{ ', '}}
{%- endfor -%}
{%- for tag in entry.tags_list -%}
{{ tag.tag_name }}{{ ', ' if not loop.last }}
{%- endfor -%}
{%- endblock -%}
{%- block position %}
<div class="position">
    <h2 >
        <a href="{{ url_for('portal.index') }}">{{ config.SITE_NAME }}</a>&nbsp;
        <em>
        {% for p in current_category.path %}
        > <a href="{{ url_for('portal.category', category=p.slug) }}" > {{ p.category_name }} </a>
        {% endfor %}
        </em>
    </h2>

</div>
{% include "software/_postnow.html" %}
{%- endblock %}

{% block entity %}

        <h1 class="entries-title">
            {{ entry.title }}
        </h1>
        <div  class="post-data" >

            <img alt="comment" src="{{ url_for('static', filename='img/comment.gif') }}">&nbsp;<a href="{{ url_for('portal.entry', slug=entry.slug) }}#comments">{{ entry.num_comments }}条评论</a>
            &nbsp;查看:{{ entry.num_views }}
            &nbsp;收藏:{{ entry.num_favorites }}

            {% if g.user %}
            <a id="entries_favorite_{{ entry.id }}" name="{{ url_for('entry.favorites') }}" href="javascript:void(0);"
               onclick="favorite(this,'entry','{{ entry.id }}','{{ entry.title }}','{{ entry.summary|endtags|code_highlight|safe }}');return false;">{{ _("Favorites") }}</a></em></span>
            <a id="entries_complain_{{ entry.id }}" name="{{ url_for('entry.complain', id=entry.id) }}" class="nfsno nfs" href="javascript:void(0);" >{{ _("Complain") }}</a>
            {% endif %}

            {% if g.user %}


                    {% if g.user.is_supervisor %}
                    {% if not entry.on_portal %}
                    <a id="entries_on_portal_{{ entry.id }}" name="{{ url_for('entry.on_portal', id=entry.id, enable=0) }}" class="nfsno" href="javascript:void(0);"  >{{ _("On Portal") }}</a>
                    {% else %}
                    <a id="entries_cancel_portal_{{ entry.id }}" name="{{ url_for('entry.on_portal', id=entry.id, enable=1) }}" class="nfsno" href="javascript:void(0);"  >{{ _("Cancel Portal") }}</a>
                    {% endif %}
                    {% if not entry.on_top %}
                    <a id="entries_on_top_{{ entry.id }}" name="{{ url_for('entry.on_top', id=entry.id, enable=0) }}" class="nfsno" href="javascript:void(0);"  >{{ _("On Top") }}</a>
                    {% else %}
                    <a id="entries_cancel_top_{{ entry.id }}" name="{{ url_for('entry.on_top', id=entry.id, enable=1) }}" class="nfsno" href="javascript:void(0);"  >{{ _("Cancel Top") }}</a>
                    {% endif %}
                    {% endif %}

                    {% if entry.view_status == 2 %}
                    <a id="entries_open_{{ entry.id }}" name="{{ url_for('entry.open', id=entry.id) }}" class="nfsno" href="javascript:void(0);"  >{{ _("Open") }}</a>
                    {% elif entry.view_status == 0 %}
                    <a id="entries_hide_{{ entry.id }}" name="{{ url_for('entry.hide', id=entry.id) }}" class="nfsno" href="javascript:void(0);"  >{{ _("Hide") }}</a>
                    {% endif %}

                    {% if entry.comment_status == 1 %}
                    <a id="entries_open_comment_{{ entry.id }}" name="{{ url_for('entry.open_comment', id=entry.id) }}" class="nfsno" href="javascript:void(0);"  >{{ _("Open comment") }}</a>
                    {% else %}
                    <a id="entries_close_comment_{{ entry.id }}" name="{{ url_for('entry.close_comment', id=entry.id) }}" class="nfsno" href="javascript:void(0);"  >{{ _("Close comment") }}</a>
                    {% endif %}

                    {% if entry.entry_status == 1 %}
                    <a id="entries_publish_{{ entry.id }}" name="{{ url_for('entry.publish', id=entry.id) }}" class="nfsno" href="javascript:void(0);"  >{{ _("Publish") }}</a>
                    {% endif %}

                    {% if entry.permissions.can_edit %}
                    <a href="{{ url_for('entry.edit', id=entry.id) }}" class="">{{ _("Edit") }}</a>
                    {% endif %}
                    {% if entry.permissions.can_del %}
                    <a href="#" onclick="$('#delete-entries').toggle(); return false;" class="">{{ _("Delete") }}</a>
                    <div id="delete-entries" style="display:none;position: absolute;right: 0;">
                        <strong>{{ _('Are you sure you want to delete this articles ?') }}</strong>
                        <a href="#" onclick="ajax_post('{{ url_for('entry.delete', id=entry.id) }}'); return false;">{{ _('Yes') }}</a> /
                        <a href="#" onclick="$('#delete-entries').toggle(); return false;">{{ _('No') }}</a>
                    </div>
                    {% endif %}

            {% endif %}
        </div>
        <div class="entries-content">
            {{ entry.content|code_highlight|gistcode|safe }}

            <ul class="attrs">
                <li>授权协议：{{ _("entry.license_agreement_%d" % entry.license_agreement) }}</li>
                <li class="lang">开发语言：{{ _("entry.principal_language_%d" % entry.principal_language) }} </li>
                <li>运行环境：{{ _("entry.runtime_platform_%d" % entry.runtime_platform) }}</li>
                <li>收录时间：
                    {%- if entry.published_time %}
                    <span><abbr title="{{ entry.published_time|local_datetime }}" class="time">{{ entry.published_time|timesince }}</abbr></span>
                    {%- else %}
                    <abbr title="{{ entry.updated_time|local_datetime }}" class="time">{{ entry.updated_time|timesince }}</abbr>
                    {%- endif %}
                </li>
            </ul>

            <div class="entries-info subinfo">
                {% if g.user %}
                <span class="entries-comments"><em class="pre" id="entries_useful_{{ entry.id }}_num">{{ entry.num_useful }} </em><em class="nex "><a class="nfs" id="entries_useful_{{ entry.id }}" href="javascript:void(0);"  name="{{ url_for('entry.useful', id=entry.id) }}">{{ _("Useful") }}</a></em></span>
                <span class="entries-comments"><em class="pre" id="entries_useless_{{ entry.id }}_num">{{ entry.num_useless }} </em><em class="nex "><a class="nfs" id="entries_useless_{{ entry.id }}" href="javascript:void(0);"  name="{{ url_for('entry.useless', id=entry.id) }}">{{ _("Useless") }}</a></em></span>
                {% else %}
                <span class="entries-comments"><em class="pre">{{ entry.num_useful }} </em><em class="nex">{{ _("Useful") }}</em></span>
                <span class="entries-comments"><em class="pre">{{ entry.num_useless }} </em><em class="nex">{{ _("Useless") }}</em></span>
                {% endif %}
            </div>


            <!-- JiaThis Button BEGIN -->
            <div id="ckepop" >
                <a class="jiathis_button_qzone"></a>
                <a class="jiathis_button_tsina"></a>
                <a class="jiathis_button_tqq"></a>
                <a class="jiathis_button_renren"></a>
                <a class="jiathis_button_kaixin001"></a>
                <a href="http://www.jiathis.com/share?uid=1587206" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
                <a class="jiathis_counter_style"></a>

            </div>
            <script type="text/javascript">var jiathis_config = {data_track_clickback:true};</script>
            <script type="text/javascript" src="http://v2.jiathis.com/code_mini/jia.js?uid=1587206" charset="utf-8"></script>
            <!-- JiaThis Button END -->
        </div>


{%- if entry.tags -%}
<div class="tags" style="position: absolute;left: 0;top: -30px;">
    {%- for tag in entry.tags_list -%}
    <a href="{{ url_for('portal.tag', category=current_category.slug, tag=tag.slug) }}">{{ tag.tag_name }}</a>{{ ' ' if not loop.last }}
    {%- endfor -%}
</div>
{% endif %}

    <div class="navigation-links">
        <span class="previous">{% if prev_entries %}&laquo; <a rel="prev" href="{{ prev_entry.url }}">{{ prev_entry.title }}</a>{% endif %}</span>
        <span class="next">{% if next_entries %}<a rel="next" href="{{ next_entry.url }}">{{ next_entry.title }}</a> &raquo;{% endif %}</span>
    </div>

    {% if config.USE_LOCAL_COMMENT %}


    <div id="comments">
        <div class="title left-pos">
            <h2 class="left">共有<em class="answer_count">{{ entry.num_comments }}</em>个评论 <a class="answer" href="#comment-form">我要评论»</a></h2>
            <div id="tabs" class="right">
                <a  class="{% if sort == 'updated_time' %}current{% endif %} " href="{{ url_for('portal.entry', slug=entry.slug, p=current_page) }}#comments" rel="external nofollow">{{ _("Order by Latest") }}</a></h2>
                <a  class="{% if sort == 'num_useful' %}current{% endif %}"  href="{{ url_for('portal.entry', slug=entry.slug, p=current_page, s='num_useful') }}#comments" rel="external nofollow">{{ _("Order by useful") }}</a></h2>
                <a  class="{% if sort == 'num_supports' %}current{% endif %}"  href="{{ url_for('portal.entry', slug=entry.slug, p=current_page, s='num_supports') }}#comments" rel="external nofollow">{{ _("Order by supports") }}</a></h2>
            </div>
        </div>
        <div >
            {% if entry.comments %}

                {% for comment in entry.comments %}
                {{ render_comment(comment) }}
                {% endfor %}

            {% if page_total > 1 %}
            {{ more }}
            {% endif %}
            {% else %}
            <p>{{ _('No comments have been posted yet.') }}</p>
            {% endif %}
        </div>

        <div class="comment-add">
            <p class="t1 p10">{{ _("Comment guide") }}</p>
            <form id="comment-form" method="POST" action="{{ url_for('entry.add_comment', entry_id=entry.id) }}">
                {% with form = comment_form %}
                {{ form.hidden_tag() }}

                <p>{{ form.comment(class="text") }} {{ render_errors(form.comment) }}</p>
                <div class="ds-post-toolbar">
                    <div class="ds-post-options">
                        <span class="ds-sync tip" style="color: #999;">请尽量让自己的回复能够对别人有帮助</span>
                    </div>

                    {% if g.user %}

                    <p class="qp">{{ form.submit(class="ds-post-button") }}</p>
                    {% else %}
                    <button type="button" class="ds-post-button" style="float: right;margin-top: 10px;">发 布</button>
                    {% endif %}

                </div>

                {% endwith %}
            </form>
            <p class="t1 p10 mortip" style="display: none;">{{ _("Comment guide 2") }}</p>
            <div class="fn-clear"></div>
        </div>
    </div>
    {% else %}
    {% include 'common/external_comment.html' %}
    {% endif %}

{%- endblock -%}

{% block sidebar %}
    {% include "article/_tags.html" %}
    {% include "article/_related.html" %}
    {% include "article/_weekly.html" %}
    {% include "article/_monthly.html" %}
{%- endblock -%}

{%- block css %}
{{ super() }}

<link href="{{ url_for('static', filename='css/embed.css') }}" rel="stylesheet"/>
  <style type="text/css">
      #real-avatar .avatar {
          background: none repeat scroll 0 0 #FFFFFF;
          border: 1px solid #DDDDDD;
          float: right;
          margin-right: 20px;
          padding: 2px;
      }
      .comment-content{margin-bottom: 20px;color: #000000;font-size: 14px;line-height: 180%;overflow: hidden;word-wrap:break-word;word-break:break-all;width: 584px; }
      .comment-content textarea{width:90%;height: 100px;}
      a.op:link,a.op:visited,a.op:active{background-color:#F0F0F0;border:1px solid #DDDDDD;color:#666666;display:inline-block;font-size:10px;line-height:10px;padding:3px 4px}
      a.op:hover{background-color:#E0E0E0;border:1px solid #C0C0C0;color:#333333;text-decoration:none}
      .no{background-color:#F0F0F0;border-radius:10px 10px 10px 10px;color:#CCCCCC;display:inline-block;font-size:9px;font-weight:500;line-height:9px;padding:2px 5px}
      .votecell{vertical-align:top;width:60px}
      .postcell{vertical-align:top;width:585px}
      #real-avatar .avatar{background:none repeat scroll 0 0 #FFFFFF;border:1px solid #DDDDDD;float:right;margin-right:20px;padding:2px}
      .isclick{cursor:pointer}
      #imgwrap{background:none repeat scroll 0 0 #FFFFFF;border-radius:5px 5px 5px 5px;box-shadow:0 0 4px rgba(0,0,0,0.7);display:none;padding:30px}
      #lean_overlay{position:fixed;z-index:10000;top:0px;left:0px;height:100%;width:100%;background:#000;display:none}
      article{overflow: hidden;}
      article p,article li,article li{color:#444444;font-size:16px;line-height:26px;margin:0 0 18px}
      article a,.comment-content a{color:#2A85E8  !important;line-height:inherit;outline:0 none;text-decoration:none}
      article h2{font:bold 24px/1.5 "微软雅黑",Arial,verdana;margin:0;padding:10px 0;color:#444444;}
      article h3{font:bold 22px "微软雅黑",Arial,verdana;margin:0.5em 0;color:#444444;}
      article h4,article h5,article h6{font:bold 1.15em/1.5 verdana;margin:0.5em 0;padding:0;color:#444444;}
      article blockquote{background:none repeat scroll 0 0 #F1F0EA;border:1px solid #E3E1D5;margin:0 20px 20px;padding:10px 10px 10px 42px}
      .entries-tags a{background-color:#658296;color: #FFFFFF !important;border-radius:10px;display:inline-block;font-size:13px;line-height:13px;margin:0 3px 10px;padding:2px 10px}
      .entries-tags a:hover { background-color: #F87B00; }
  </style>
{%- endblock %}
{%- block js %}
{{ super() }}

<script src="{{ url_for('static', filename='plugins/kindeditor-4.1/kindeditor-min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='plugins/kindeditor-4.1/lang/zh_CN.js') }}" type="text/javascript"></script>


<script src="{{ url_for('static', filename='plugins/nfs/nfsbyajax.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/md5-min.js') }}" type="text/javascript"></script>
<script type="text/javascript">
    var img_server_url = "{{ url_for('misc.upload_img') }}";
    var file_server_url = "{{ url_for('misc.upload_att') }}";
    var ds_html = '<div id="ds-wrapper" >'+
            '<div class="ds-dialog ds-dialog-login" id="ds-reset">'+
            '<div class="ds-dialog-inner">'+
            '<div class="ds-dialog-body">'+
            '<div class="ds-dialog"><h2>作为游客留言</h2>'+
            '<div id="real-avatar">'+
            '<img width="40" height="40" class="avatar avatar-40 photo avatar-default" src="http://0.gravatar.com/avatar/s=40" alt="">'+
            '</div>'+
            '<div class="ds-input">'+
            '<input type="text" required="" value="" id="ds-dialog-name" name="nickname">'+
            '<label for="ds-dialog-name">名字(必须)</label>'+
            '</div>'+
            '<div class="ds-input">'+
            '<input type="text" required="" value="" id="email" name="email">'+
            '<label for="email">邮箱(必须)</label>'+
            '</div>'+
            '<div class="ds-input">'+
            '<input type="text" value="http://" id="ds-dialog-url" name="homepage">'+
            '<label for="ds-dialog-url">网址(可选)</label>'+
            '</div>'+
            '<input type="submit" value="递交" name="submit" id="submit"></div></div>'+
            '<a href="javascript:void(0)" class="ds-dialog-close"></a></div>'+
            '</div></div>';
    $(function(){


        $('.comment,.forums-comment').hover(function(){
            $(this).find('.comment-by span, .nfs').show();
        },function (){
            $(this).find('.comment-by span, .nfs').hide();
        });
        $('.tip').hover(function(){
            $(".mortip").show();
        },function(){
            $(".mortip").hide();
        });

        $(".comment-content blockquote em").replaceWith('<h4>引用来自“<strong>' + $(".comment-content blockquote em").html() +'</strong>”的回复</h4>');
        $(".showDs").click(function(){
            //alert("show");
            $(this).before(ds_html);
            $(document).find('#email').blur(function(){
                $('#real-avatar .avatar').attr('src','http://www.gravatar.com/avatar/' + hex_md5($('#email').val())) + '?d=mm&s=40';
            });

            $(".ds-dialog-close").click(function(){
                $("#ds-wrapper").remove();
            });
        });






    });
    var editor;
    KindEditor.ready(function(K) {
        editor = K.create('textarea[name="comment"]', {
            resizeType : 1,
            allowPreviewEmoticons : false,
            allowImageUpload : false,
            uploadJson: '/misc/upload_img/',
            width:"100%",
            items : [
                'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline',
                'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
                'insertunorderedlist', '|', 'emoticons', 'image', 'link','|', 'code','flash','media']
        });
    });
</script>
{%- endblock %}