{% extends ("layout.html") %}

{%- block title -%}
{{ current_category.meta_title }}
{%- endblock -%}
{% block site_description %}{{ current_category.meta_description }}{%- endblock -%}
{% block site_keywords %}{{ current_category.meta_keywords }}{%- endblock -%}

{%- block position %}

	<h2 class="">
        <a href="{{ url_for('portal.index') }}">{{ config.SITE_NAME }}</a>&nbsp;
        <em>
        {% if current_category %}
            {% for p in current_category.path %}
            > <a href="{{ url_for('portal.category', category=p.slug) }}" > {{ p.category_name }} ({{ p.num_entries }}) </a>
            {% endfor %}
        {% endif %}
        {% if current_tag %}
			|| {{ _("Tags") }} » {{ current_tag.tag_name }}
		{% endif %}
        </em>
	</h2>

    {% include "article/_postnow.html" %}
{%- endblock %}

{%- block lsidebar %} 
<aside class="left-aside fn-left"> 
		<div class="categories">
			<ul class="heading_tabs">
                <li class="category0">{{ _('Sub category') }}<li>
                {%- for category in sub_category_list -%}
				<li class="category{{ category.id }}"><a {% if current_category.id == category.id %} class="current" {% endif %} href="{{ url_for('portal.category', category=category.slug) }}">{{ category.category_name }} ({{ category.num_entries }})</a></li>
				{%- endfor -%}
			</ul>
		</div>
</aside>
{%- endblock %}


{%- block entity %}
{%- if entries_list %}
{%- for entry in entries_list %}
<!-- Start Blog Post 1 -->
<div class="list">

        <h1><a href="{{ url_for('portal.entry', slug=entry.slug) }}">{{ entry.title }}</a></h1>
        <span class="post-data">
            &nbsp;•&nbsp; <strong><a href="{{ url_for('people.index', username=entry.author.username) }}">{{ entry.author.nickname }}</a></strong> &nbsp;•&nbsp;
            {%- if entry.updated_time %}
                <span><abbr title="{{ entry.updated_time }}" class="time">{{ entry.updated_time|timesince }}</abbr></span>
            {%- else %}
                <abbr title="{{ entry.created_time }}" class="time">{{ entry.created_time|timesince }}</abbr>
            {%- endif %}
            {%- if entry.num_comments %}
            &nbsp;•&nbsp; 最后回复来自
            <strong>
                <a href="{% if entry.last_comment.author %}{{ url_for('people.index', username=entry.last_comment.author.username) }}{% else %}{{ entry.last_comment.homepage }}{% endif %}" rel="external nofollow">
                    {{ entry.last_comment.nickname }}
                </a>
            </strong>
            {%- endif %}
            <img alt="comment" src="{{ url_for('static', filename='img/comment.gif') }}">
            <a href="{{ url_for('portal.entry', slug=entry.slug) }}#comments">{{ entry.num_comments }} {{ _("Comments") }}</a>
           {{ entry.num_views }} {{ _("Views") }}
	       {{ entry.num_favorites }} {{ _("Favorites") }}
        {% if g.user.is_supervisor %}
         &nbsp;&nbsp;&nbsp;&nbsp;
        {% if entry.on_portal %}
        <a  name="{{ url_for('entry.on_portal', id=entry.id, enable=0) }}" class="nfsno" href="javascript:void(0);" >{{ _("On Portal") }}</a>&nbsp;
        {% else %}
        <a  name="{{ url_for('entry.on_portal', id=entry.id, enable=1) }}" class="nfsno" href="javascript:void(0);" >{{ _("Cancel Portal") }}</a>&nbsp;
        {% endif %}
        {% if entry.on_top %}
        <a  name="{{ url_for('entry.on_top', id=entry.id, enable=0) }}" class="nfsno" href="javascript:void(0);" >{{ _("On Top") }}</a>&nbsp;
        {% else %}
        <a  name="{{ url_for('entry.on_top', id=entry.id, enable=1) }}" class="nfsno" href="javascript:void(0);" >{{ _("Cancel Top") }}</a>&nbsp;
        {% endif %}
        {% endif %}
        {% if g.user %}
        <a name="{{ url_for('entry.supports', id=entry.id) }}" class="nfsno" href="javascript:void(0);" >{{ _("Supports") }}</a>&nbsp;
        <a name="{{ url_for('entry.oppositions', id=entry.id) }}" class="nfsno" href="javascript:void(0);" >{{ _("Oppositions") }}</a>&nbsp;
        <a name="{{ url_for('entry.complain', id=entry.id) }}" class="nfsno" href="javascript:void(0);" >{{ _("Complain") }}</a>&nbsp;
        {% endif %}

        {% if entry.permissions.can_edit %}
         <a href="{{ url_for('entry.edit', id=entry.id) }}" class="sb vh">{{ _("Edit") }}</a>&nbsp;
        {% endif %}
        {% if entry.permissions.can_del %}
        <a href="#" onclick="$('#delete-entries-{{ entry.id }}').toggle(); return false;" class="sb vh">{{ _("Delete") }}</a>&nbsp;
        <div id="delete-entries-{{ entry.id }}" style="display:none;">
            <strong>{{ _('Are you sure you want to delete this articles ?') }}</strong>
            <a href="#" onclick="ajax_post('{{ url_for('entry.delete', id=entry.id) }}'); return false;">{{ _('Yes') }}</a> /
            <a href="#" onclick="$('#delete-entries-{{ entry.id }}').toggle(); return false;">{{ _('No') }}</a>
        </div>
        {% endif %}
        </span>


        {% if entry.feature_image %}
        <div class="imagebox left-margin">
        <a href="{{ url_for('portal.entry', slug=entry.slug) }}"> <img width="234" height="171" alt="{{ _('Feature image') }}" src="{{ entry.feature_image }}"></a>
        </div>
        {% elif 0 %}
        <div class="imagebox left-margin">
        <a href="{{ url_for('portal.entry', slug=entry.slug) }}"><img width="234" height="171"  src="/static/360ito/images/content/blog/blog_image_1.jpg" alt="{{ entry.title }}" /></a>
        </div>
        {% endif %}


    <div>
        <p>{{ entry.summary|endtags|code_highlight|safe }} </p>
        <span class="readmore">

            <a href="{{ url_for('portal.entry', slug=entry.slug) }}" class="blue-button">阅读全文</a>
        </span>
    </div>
</div>
<!-- End Blog Post 1 -->

{% endfor %}
{%- else %}
<p>{{ _("Nobody's posted anything yet.") }}</p>
{%- endif %}

{% if page_total > 1 %}
{{ more }}
{% endif %}

{%- endblock %}

{%- block sidebar %}
    {% include "article/_tags.html" %}
    {% include "article/_weekly.html" %}
    {% include "article/_monthly.html" %}
    {% include "article/_latest_comment.html" %}
{%- endblock %}
{%- block js %}
{{ super() }}
<script src="{{ url_for('static', filename='360/js/lib/jquery/nfsbyajax.js') }}" type="text/javascript"></script>

<script type="text/javascript">

    $(function(){
        $(".nfs").NFSbyAjax({isModifyNum:false});
    });




</script>




{%- endblock %}