{% extends "layout.html" %}

{% from "macros/_forms.html" import render_errors %}

{%- block entity %}
<div class="entries">
    <h2 class="title"><a href="{{ url_for('portal.entry', slug=entry.slug) }}">{{ entry.title }}</a></h2></h2>
    {%- if parent %}
        <div class="entries-content">{{ parent.comment }}</div>
    {%- endif %}
    <div id="add_comment">
    <form method="post" action="">
        {{ form.hidden_tag() }}
            <table cellspacing="0" class="form-table">
            <tbody>
            {%- if g.user %}
                <tr>
                    <th>{{ form.comment.label }}</th>
                    <td>{{ form.comment(class="text", style="width:400px;height:100px;") }} {{ render_errors(form.comment) }}</td>
                </tr>
                <tr>
                    <th></th>
                    <td>{{ form.submit(class="button") }}</td>
                </tr>
            {%- else %}
                <p><a href="{{ url_for('account.login',next=request.path) }}">{{ _("Please Login") }}</a></p>
            {%- endif %}
            </tbody>
            </table>
    </form>
    </div>
</div>
{%- endblock %}
