{% extends ("layout.html") %}
{%- block title -%}
{{ _("Find user password") }}
{%- endblock -%}

<style type="text/css">
    form th {
        color: #666666;
        font-weight: normal;
        padding: 10px;
        text-align: right;
    }
    form input {
        padding: 3px;
    }
    .title{padding-left: 110px;}
    textarea{width: 312px;padding: 3px;}

</style>

{%- block entity %}
<h2 class="top">您的账户密码已经重置：</h2>
<div id="sign" class="bb1 p10 br16 mg5">
    您的账户密码已经重置，请到邮箱{{ email }}中查看新密码，该邮件可能被误放垃圾箱或订阅邮件列表中。<br />

    <br/>有任何疑问请联系管理员，您可以通过如下方式与我们取得联系：<br />
    1. 在线提交产品反馈：{{ config.SITE_URL }}/feedback/<br />
    2. 邮件：{{ config.ADMIN_MAIL }}<br />
    <br />
    {{ config.SITE_NAME }}管理员 敬礼！<br />
</div>
{%- endblock %}