{% extends "layout.html" %}
{%- block title -%}
{{ _("About") }}
{%- endblock -%}

{% block entity %}
<div class="entries">
    <h2 class="title">{{ _("About") }}</h2>

    <div id="about" class="entries-content">
        <div xmlns="http://www.w3.org/1999/xhtml" class="ext_content">
            <span>
                <h3>2010年10月份</h3>
                　　360ITO技术论坛成立，由一大批资深网络人士共同创建，其中不乏有
                <a target="_blank" href="http://www.360ito.com/">CCNA</a>、
                <a target="_blank" href="http://www.360ito.com/">CCNP</a>、
                <a target="_blank" href="http://www.360ito.com/">CCIE</a>
                等专业人士;<br/>
                　　社区宗旨是专注于解决网络、系统、硬件及售后服务等方面的综合型技术论坛。　<br/>
            </span>

            <span>
                　　论坛主要面向有致于网络构架、维护、应用等方向发展的技术人员，是一个为打造CIO、IT技术经理、网络工程师、安全工程师、系统集成工程师、网络管理员及IT服务人员搭建的互动交流平台，为他们提供IT最新资讯、技术文档、视频讲解、在线交流BBS、家园等服务。<br/>
                　　社区自2010年10月30日创立以来，在短短一个多月的时间里，注册人数突破11000人，在线突破1000人。<br/>
                　　360ITO技术论坛的宗旨是努力为信息化时代的人们带来工作上的便利；让技术引领潮流，科技成就梦想不再遥远！<br/>
            </span>

            <span>
                　　站长：麦蒂<br/>
                <br/>
            </span>

            <span>
                <h3>2011年12月1日</h3>
                　　360ITO技术论坛换新的站长、新的团队<br/>
                　　开始清理大量垃圾信息和无意义的帖子<br/>
                　　开始规划、制作新的网站<br/>
            </span>

            <span>
                <br/>
            </span>

            <span>
                <h3>2012年3月1日</h3>
                　　新团队考虑360ITO技术论坛改版<br/>
            </span>
            <span>
                <br/>
            </span>


            <span>
                <h3>2012年7月24日</h3>
                　　360ITO技术论坛新版上线，并更名为360ITO技术社区<br/>
                　　新网站旨在提供更优质的信息和技术，从原网站重点是思科等认证，转为通用信息技术，重点是free、open的技术<br/>
                　　360ITO新含义：360 information technology open site，全方位的信息技术开放网站<br/>
            </span>

            <span>
                <br/>
            </span>
            <span>
                <h3>本站采用的技术</h3>
                系统:<br/>
                　　<a href="http://www.centos.org" rel="external nofollow">CentOS</a><br/>
                开发:<br/>
                　　<a href="http://www.python.org" rel="external nofollow">Python</a><br/>
                　　<a href="http://flask.pocoo.org/" rel="external nofollow">Flask</a><br/>
                　　<a href="http://jinja.pocoo.org/" rel="external nofollow">jinja2</a><br/>
                　　<a href="http://www.jquery.com/" rel="external nofollow">jquery</a><br/>
                数据:<br/>
                　　<a href="http://www.mysql.com/">mysql</a><br/>
            </span>

            <span>
                <br/>
                <br/>
            </span>
            <span>DMOZ目录：
            <a href="http://www.dmoz.org/search/search?q=www.360ito.com">http://www.dmoz.org/search/search?q=www.360ito.com</a>
            <br/>
            </span>
            <span>百度百科：
            <a target="_blank" rel="external nofollow" href="http://baike.baidu.com/view/4863857.htm">http://baike.baidu.com/view/4863857.htm</a>
            <br/>
            </span>
            <span>搜搜百科：
            <a href="http://baike.soso.com/v11327293.htm">http://baike.soso.com/v11327293.htm</a>
            <br/>
            </span>
        </div>
    </div>
</div>
{%- endblock -%}