{% extends "layout.html" %}
{%- block title -%}
{{ _("Contact") }}
{%- endblock -%}

{% block entity %}
<div class="entries">
    <h2 class="title">{{ _("Contact") }}</h2>

    <div id="about" class="entries-content">
        <div xmlns="http://www.w3.org/1999/xhtml" class="ext_content">
            <span>
                <h3>邮箱</h3>
                　　合作：biz@360ito.com<br/>
                　　建议与投诉：master@360ito.com<br/>
            </span>
            <br />
            <span>
                <h3>微博</h3>
                　　<a href="http://weibo.com/360ito">@新浪 </a><br/>
                　　<a href="http://t.qq.com/i360ITO">@腾讯 </a><br/>
            </span>

        </div>
    </div>
</div>
{%- endblock -%}