{% extends "content/base.html" %}
{% import "entry/_base.html" as lib with context %}

{% block content %}
编辑


  {% call lib.form_tag(form) %}
{#    {{ lib.render_form_fields(form, form_opts=form_opts, form_rules=form_rules) }}#}
    {{ lib.render_form_fields(form, form_opts=form_opts) }}
    {{ lib.render_form_buttons(return_url) }}
  {% endcall %}

{% endblock %}

  {% block js %}
  <script src="{{ assets('ckeditor/ckeditor.js') }}"></script>
    <script>

			// Replace the <textarea id="editor"> with an CKEditor
			// instance, using default configurations.
			CKEDITOR.replace( 'content', {

			});

		</script>
  {% endblock %}




