{% extends "layout.html" %}
{%- block title -%}
{{ _("403, Page Not Allowed") }}
{%- endblock -%}

{% block entity %}
<div class="error">
    <h1>{{ _("403, Page Not Allowed") }}</h1>
    <blockquote>
        <p>{{ _("The requested page, cannot be allowed") }}</p>
    </blockquote>
    <div class="simple">
        <p>{{ _("Maybe we can help you out though:") }}</p>
        <ul>
            <li><a href="{{ url_for('account.login') }}">{{ _("Login to website") }} - {{ _("If you have member account") }}</a></li>
            <li>{{ _("Not a member yet?") }} <a href="{{ url_for('account.signup') }}">{{ _("Signup") }}</a> </li>
        </ul>
    </div>
</div>
{%- endblock -%}
